<div class="overflow-hidden">
  <div class="mt-4">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="col-6 d-flex  align-items-center">
            <div style="width: 70%;">
              <img src="assets/images/logo.png" alt="Logo">
            </div>
          </div>
        </div>
        <div class="w-100 d-flex justify-content-center " style="height: calc(100vh - 140px);">
          <div class="col-7">
            <div style="width: 100%;" class="text-center">
              <img src="assets/images/profile-banner.png"/>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <mat-card class="dashboard-card w-100">
              <div class="d-flex">
                <h4 class="mr-2"><span [class]="'selected-option '+ (type === 'personal-detail' ? 'active' : '')">1</span>Personal Details</h4>
                <h4 class="mr-2"><span [class]="'selected-option ' + (type === 'contact-detail' ? 'active' : '')">2</span>Contact Details</h4>
                <h4><span [class]="'selected-option ' + (type === 'health-record' ? 'active' : '')">3</span>Health Record</h4>
              </div>
              <hr>
              <mat-card-content class="dashboard-card-content">
                <ng-container *ngIf="type === 'personal-detail'">
                  <div class="">
                    <div class="d-flex">
                      <mat-form-field appearance="outline" class="mr-2">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="createUserDatabaseInput.name">
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="outline" class="mr-2">
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="createUserDatabaseInput.lastname">
                      </mat-form-field>

                      <label class="hoverable" for="fileInput">
                        <img [src]="profileImage ? profileImage : 'https://www.w3schools.com/howto/img_avatar.png'">
                        <div class="hover-text">Choose file</div>
                        <div class="background"></div>
                      </label>
                      <br/>
                      <input #target id="fileInput" type='file' (change)="onSelectFile(target)">
                    </div>
                    <br>
                    <h4>Gender</h4>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="createUserDatabaseInput.sex">
                      <mat-radio-button value="Male" class="mr-2">Male</mat-radio-button>
                      <mat-radio-button value="Female" class="mr-2">Female</mat-radio-button>
                      <mat-radio-button value="Other">Other</mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <br>
                    <mat-form-field appearance="fill">
                      <mat-label>Date Of Birth</mat-label>
                      <input matInput [matDatepicker]="picker" [(ngModel)]="createUserDatabaseInput.birthday">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>Height(Ft)</mat-label>
                      <input matInput [(ngModel)]="createUserDatabaseInput.hieght">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>Weight (Kg)</mat-label>
                      <input matInput [(ngModel)]="createUserDatabaseInput.weight">
                    </mat-form-field>
                    <br>

                    <button mat-raised-button color="primary" class="w-100" (click)="personalDetails()">
                      Next
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="type === 'contact-detail'">
                  <div class="">
                    <mat-form-field appearance="outline">
                      <mat-label>E-Mail Address</mat-label>
                      <input matInput [(ngModel)]="createUserDatabaseInput.emailaddress">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>Phone Number</mat-label>
                      <input matInput type="tel" [(ngModel)]="createUserDatabaseInput.phonenumber">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="outline">
                      <mat-label>Emergency Contact</mat-label>
                      <input matInput type="tel" [(ngModel)]="createUserDatabaseInput.emergencycontact">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>Street Address</mat-label>
                      <textarea matInput type="tel" [(ngModel)]="createUserDatabaseInput.streetaddress" ></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>City</mat-label>
                      <input matInput type="tel" [(ngModel)]="createUserDatabaseInput.city">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>ZIP Code</mat-label>
                      <input matInput type="tel" [(ngModel)]="createUserDatabaseInput.zipcode">
                    </mat-form-field>
                    <br>

                    <button mat-raised-button color="primary" class="w-100" (click)="contactDetails()">
                      Next
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngIf="type === 'health-record'">
                  <div class="">
                    <h4>Smoke</h4>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="w-100" [(ngModel)]="createUserDatabaseInput.smoke">
                      <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                      <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                    <br><br>
                    <h4>Alcohol</h4>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="w-100">
                      <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                      <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>

                    <br><br>
                    <h4>Allergies</h4>
                    <div class="d-flex">
                      <button class="w-100" mat-stroked-button (click)="allergyDialog(allergiesDialog)">ADD+</button>
                    </div>
                    <br>
                    <h4>Add personal health records</h4>
                    <div class="d-flex">
                      <button class="w-100" mat-stroked-button (click)="healthRecordDialog(healthDialog)">ADD+</button>
                    </div>
                    <div class="d-flex list-allergies">
                      <div *ngFor="let item of items" class="allergy-item">
                        {{item}}
                      </div>
                    </div>
                    <br>
                    <button mat-raised-button color="primary" class="w-100" (click)="saveUserData()">
                      Next
                    </button>
                  </div>
                </ng-container>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

<ng-template #healthDialog>
  <div mat-dialog-content>
    <h2>Date</h2>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="healthRecord.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <h2>Summary</h2>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="healthRecord.summnaryname">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Dosage</mat-label>
      <input matInput [(ngModel)]="healthRecord.summarydosage">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Instruction</mat-label>
      <input matInput [(ngModel)]="healthRecord.summnaryinstr">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Reason</mat-label>
      <input matInput [(ngModel)]="healthRecord.summnaryreason">
    </mat-form-field>

    <h2>RX</h2>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="healthRecord.rxname">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Dosage</mat-label>
      <input matInput [(ngModel)]="healthRecord.rxdosage">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Instruction</mat-label>
      <input matInput [(ngModel)]="healthRecord.rxinstr">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Reason</mat-label>
      <input matInput [(ngModel)]="healthRecord.rxreason">
    </mat-form-field>

    <h2>Labs</h2>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="healthRecord.labsname">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Dosage</mat-label>
      <input matInput [(ngModel)]="healthRecord.labsdosage">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Instruction</mat-label>
      <input matInput [(ngModel)]="healthRecord.labsinstr">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Reason</mat-label>
      <input matInput [(ngModel)]="healthRecord.labsreason">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="addHealthRecord()">Save</button>
  </div>
</ng-template>

<ng-template #allergiesDialog>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Allergy Name</mat-label>
      <input matInput name="allergyname" [(ngModel)]="allergies.allergyname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Add a Description</mat-label>
      <input matInput name="description" [(ngModel)]="allergies.description">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="addAllergy()">Save</button>
  </div>
</ng-template>
