<div class="overflow-hidden">
  <div class="mt-4">

    <div class="row">
      <div class="col-12">
        <div class="col-5 d-flex justify-content-end align-items-center">
          <div style="width: 70%;">
            <img src="assets/images/logo.png" alt="Logo">
          </div>
        </div>
      </div>

      <div class="col-5 d-flex justify-content-end align-items-center">
        <div style="width: 70%;">
          <h1><strong>Best Medical Service</strong></h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's
            standard dummy</p>
          <div class="row m-1">
            <div class="mr-2">
              <button type="button" class="btn btn-primary" [routerLink]="'/auth/login'">Sign In</button>
            </div>
            <div class="">
              <button type="button" class="btn btn-secondary">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <img src="../../../assets/images/login-home-banner.png" width="100%" />
      </div>
    </div>
  </div>
</div>
